= div_for tweet, class: (tweet.geo_text? ? 'with-geo' : 'no-geo')  do
  .author
    = image_tag tweet.body['user']['profile_image_url_https']
    %p.name= tweet.body['user']['name']
    %p.screenname @#{tweet.body['user']['screen_name']}
  .body
    .tweet_text= simple_format tweet.text.html_safe
    %p.timestamp.label.secondary
      = tweet.created_at
      \/
      = time_ago_in_words tweet.created_at
      ago
    %nav
      %ul
        %li
          = link_to tweet_path(tweet.id), class: 'button tiny' do
            %i.fi-link
            Permalink
        %li
          = link_to twitter_url(tweet), class: 'button tiny' do
            %i.fi-social-twitter 
            on Twitter
        %li
          = link_to around_tweet_path(tweet.id), class: 'button tiny' do
            %i.fi-clock
            around then
  - unless tweet.geo_text.blank?
    .geo= image_tag gmap_url tweet
