%h1
  A tweet from
  = time_ago_in_words @tweet.created_at
  ago

%section#tweet
  = render partial: 'tweet', object: @tweet

%br.clear

%section#on_twitter
  %h1 On Twitter
  %dl
    %dt Link
    %dd
      = show_link_to "https://twitter.com/#{@tweet.body['user']['screen_name']}/status/#{@tweet.id_str}"
    - if @tweet.body['in_reply_to_screen_name']
      %dt In reply to:
      %dd
        = show_link_to "https://twitter.com/#{@tweet.body['in_reply_to_screen_name']}/status/#{@tweet.body['in_reply_to_status_id_str']}"
    
%h1 Data

- unless @tweet.body['entities']['user_mentions'].blank?
  %section#mentions
    %h2 Mentions
    %ul
      - @tweet.body['entities']['user_mentions'].each do |m|
        %li
          %span.screenname
            = link_to m['screen_name'], "https://twitter.com/#{m['screen_name']}"
          \/
          %span.name
            = m['name']

- unless @tweet.body['entities']['media'].blank?
  %section#media
    %h2 Media
    %dl
      - @tweet.body['entities']['media'].each do |m|
        %dt
          = image_tag m['media_url_https']
        %dd
          %p= show_link_to m['expanded_url']
          %p= show_link_to "#{m['media_url_https']}:large"
      
- unless @tweet.body['entities']['hashtags'].blank?
  %section#hashtags
    %h2 Hashtags
    %ul
      - @tweet.body['entities']['hashtags'].each do |t|
        %li
          = link_to t['text'], "https://twitter.com/hashtag/#{t['text']}"

- unless @tweet.body['entities']['urls'].blank?
  %section#urls
    %h2 URLs
    %dl
      - @tweet.body['entities']['urls'].each do |u|
        %dt= show_link_to u['url']
        %dd= show_link_to u['expanded_url']
- if @tweet.in_reply_to_status_id?
  %section#reply
    %h2 In Reply To
    %dl
      %dt Permalink
      %dd
        - l = "https://twitter.com/#{@tweet.body['in_reply_to_screen_name']}/status/#{@tweet.in_reply_to_status_id}"
        = link_to l, l
      - if mine = Tweet.where(retweeted_status_id: @tweet.in_reply_to_status_id).take
        %dt I retweeted it
        %dd= link_to mine.body['retweeted_status']['text'], mine
- if @tweet.retweeted_status_id
  - rt = @tweet.body['retweeted_status']
  %section#retweet
    %h2 Retweet
    %dl
      %dt Author
      %dd
        = link_to "https://twitter.com/#{rt['user']['name']}"
      %dt Text
      %dd= simple_format rt['text']
      %dt Permalink
      %dd= link_to rt['created_at'], twitter_url(rt)

%section#geo
  %h2 Geo
  - unless @tweet.geo_text.blank?
    %dl
      %dt Latitude & Longitude
      %dd
        = @tweet.latlong.join ', '
      %dt Apple Maps
      %dd
        - l = "http://maps.apple.com/?ll=#{@tweet.latlong.join(',')}"
        = link_to l, l
      %dt Google Maps
      %dd
        - l = "https://maps.google.com/?ll=#{@tweet.latlong.join(',')}"
        = link_to l, l
    .tiles
      = image_tag gmap_url @tweet
      = image_tag mq_url @tweet

%h1 Everything

%table
  %tbody
    - @tweet.body.each do |k,v|
      %tr
        %th=k
        %td
          %pre= v.pretty_inspect
